@charset "UTF-8";
.hX {
  border-top: 2px solid #f00;
  position: relative;
}
.hX a {
  left: 2px;
  top: 2px;
  background: red;
}

.content {
  width: 1200px;
  height: 531px;
  margin: 0 auto;
}
.content .conL {
  width: 236px;
  height: 531px;
  float: left;
  position: relative;
}
.content .conL .tc {
  width: 722px;
  height: 530px;
  background: #fff;
  position: absolute;
  left: 235px;
  bottom: 0;
  z-index: 10;
  border: 1px solid #ccc;
  display: none;
}
.content .conL .tc .Left {
  width: 182px;
  height: 530px;
  float: left;
}
.content .conL .tc .Left dl {
  height: 150px;
}
.content .conL .tc .Left dl dt {
  height: 19px;
  color: #222;
  font-size: 15px;
  font-weight: 900;
  padding: 10px 0;
}
.content .conL .tc .Left dl dd {
  width: 211px;
  height: 100px;
}
.content .conL .tc .Left dl dd a {
  display: block;
  font-size: 14px;
  float: left;
  width: 72px !important;
  line-height: 19px !important;
  padding-right: 10px !important;
}
.content .conL .tc .Lp {
  width: 540px;
  height: 360px;
  background: #222222;
  float: left;
}
.content .conL .tc .Right {
  float: left;
  width: 540px;
  height: 170px;
  background: #fff;
}
.content .conL .tc .Right p {
  font-size: 14px;
  color: #222;
  font-weight: 900;
  margin-top: 5px;
}
.content .conL .tc .Right a {
  float: left;
  margin: 19px 12px;
}
.content .conL ul {
  border: 1px solid #d51819;
}
.content .conL .LL {
  height: 51px;
}
.content .conL .F {
  margin-top: 10px;
}
.content .conL dl {
  width: 224px;
  height: 73px;
  padding-left: 10px;
}
.content .conL dl dt {
  width: 224px;
  height: 19px;
  font-size: 14px;
  color: #222;
  font-weight: 900;
  height: 19px;
}
.content .conL dl dd {
  float: left;
}
.content .conL dl dd a {
  padding-right: 3px;
  color: #696969;
}
.content .conC {
  width: 718px;
  height: 531px;
  float: left;
}
.content .conC .conT {
  width: 718px;
  height: 475px;
  position: relative;
}
.content .conC .conT ul li {
  position: absolute;
  left: 5px;
  bottom: -2px;
}
.content .conC .conT ul li img {
  width: 718px;
  height: 475px;
}
.content .conC .conB {
  width: 722px;
  height: 50px;
  text-align: center;
  border: 1px solid #ccc;
  position: relative;
  top: 3px;
}
.content .conC .conB ul .first {
  background-position: 130px;
}
.content .conC .conB ul li {
  width: 144px;
  height: 50px;
  line-height: 50px;
  float: left;
  font-size: 14px;
  position: relative;
  letter-spacing: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
  background: url(../images/icons.png) no-repeat 97px -2266px;
}
.content .conC .conB ul li a {
  padding-right: 10px;
}
.content .zt img:last-child {
  padding-top: 10px;
}
.content .zt img {
  padding-left: 10px;
}

/*-----------小轮播--------------*/
#hot {
  width: 1200px;
  height: 132px;
  margin: 0 auto;
  background: #0086B3;
  position: relative;
  overflow: hidden;
}
#hot .xL {
  width: 3000px;
  height: 132px;
  margin: 0 auto;
  background: #0086B3;
  position: absolute;
  left: 0;
  top: 0;
}
#hot .xL li {
  float: left;
}
#hot .xL li img {
  padding-top: 5px;
  margin-right: 5px;
}

/*# sourceMappingURL=index.css.map */
