@charset "UTF-8";
.hX {
  border-top: 2px solid #f00;
  position: relative;
}
.hX a {
  left: 2px;
  top: 2px;
  background: red;
}

.content {
  width: 1200px;
  height: 531px;
  margin: 0 auto;
}
.content .conL {
  width: 236px;
  height: 531px;
  position: relative;
  float: left;
}
.content .conL .tc {
  width: 722px;
  height: 530px;
  background: #fff;
  position: absolute;
  left: 235px;
  bottom: 0;
  z-index: 10;
  border: 1px solid #ccc;
  display: none;
}
.content .conL .tc .Left {
  width: 182px;
  height: 530px;
  float: left;
}
.content .conL .tc .Left dl {
  height: 150px;
}
.content .conL .tc .Left dl dt {
  height: 19px;
  color: #222;
  font-size: 15px;
  font-weight: 900;
  padding: 10px 0;
}
.content .conL .tc .Left dl dd {
  width: 211px;
  height: 100px;
}
.content .conL .tc .Left dl dd a {
  display: block;
  font-size: 14px;
  float: left;
  width: 72px !important;
  line-height: 19px !important;
  padding-right: 10px !important;
}
.content .conL .tc .Lp {
  width: 540px;
  height: 360px;
  background: #222222;
  float: left;
}
.content .conL .tc .Right {
  float: left;
  width: 540px;
  height: 170px;
  background: #fff;
}
.content .conL .tc .Right p {
  font-size: 14px;
  color: #222;
  font-weight: 900;
  margin-top: 5px;
}
.content .conL .tc .Right a {
  float: left;
  margin: 19px 12px;
}
.content .conL ul {
  border: 1px solid #d51819;
}
.content .conL .LL {
  height: 51px;
}
.content .conL .F {
  margin-top: 10px;
}
.content .conL dl {
  width: 224px;
  height: 73px;
  padding-left: 10px;
}
.content .conL dl dt {
  width: 224px;
  height: 19px;
  font-size: 14px;
  color: #222;
  font-weight: 900;
  height: 19px;
}
.content .conL dl dd {
  float: left;
}
.content .conL dl dd a {
  padding-right: 3px;
  color: #696969;
}
.content .conC {
  width: 718px;
  height: 531px;
  float: left;
}
.content .conC .conT {
  width: 718px;
  height: 475px;
  position: relative;
  float: left;
}
.content .conC .conT ul li {
  position: absolute;
  left: 5px;
  bottom: -2px;
}
.content .conC .conT ul li img {
  width: 718px;
  height: 475px;
}
.content .conC .conB {
  width: 722px;
  height: 50px;
  text-align: center;
  border: 1px solid #ccc;
  position: relative;
  top: 3px;
}
.content .conC .conB ul .first {
  background-position: 130px;
}
.content .conC .conB ul li {
  width: 144px;
  height: 50px;
  line-height: 50px;
  float: left;
  font-size: 14px;
  position: relative;
  letter-spacing: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
  background: url(../images/icons.png) no-repeat 97px -2266px;
}
.content .conC .conB ul li a {
  padding-right: 10px;
}
.content .zt img:last-child {
  padding-top: 10px;
}
.content .zt img {
  padding-left: 10px;
}

/*-----------小轮播--------------*/
#hot {
  width: 1200px;
  height: 132px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
#hot .recL {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 43px;
  z-index: 10;
}
#hot .recR {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 1160px;
  top: 43px;
  z-index: 400;
}
#hot .xL {
  width: 3000px;
  height: 132px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
#hot .xL li {
  float: left;
}
#hot .xL li img {
  padding-top: 5px;
  margin-right: 7px;
}

/**********************提醒********************************/
.inPlate {
  width: 1200px;
  height: 3180px;
  margin: 0 auto;
}
.inPlate .plate {
  width: 1200px;
  margin: 0 auto;
}
.inPlate .plate-box {
  width: 1200px;
  height: 960px;
}
.inPlate .plate-box .plate-b {
  width: 1200px;
  height: 300px;
  position: relative;
  margin-bottom: 30px;
}
.inPlate .plate-box .plate-b li:first-child {
  position: absolute;
  bottom: 0;
  left: 118px;
}
.inPlate .plate-box .plate-b li:last-child {
  position: absolute;
  bottom: 0;
  left: 718px;
}
.inPlate .plate-box .plate-b li {
  float: left;
}
.inPlate .plate-box .plate-P {
  width: 1200px;
  height: 300px;
  position: relative;
  padding-bottom: 30px;
}
.inPlate .plate-box .plate-P p {
  width: 149px;
  height: 22px;
  background: #f00;
  position: absolute;
  top: 213px;
  left: 118px;
  line-height: 22px;
  z-index: 100000;
}
.inPlate .plate-box .plate-P li:nth-of-type(4) {
  position: absolute;
  top: 235px;
  left: 118px;
}
.inPlate .plate-box .plate-P li:nth-of-type(8) {
  position: absolute;
  top: 235px;
  right: 333px;
}
.inPlate .plate-box .plate-P li {
  float: left;
}
.inPlate .plate-box .plate-right {
  float: left;
  position: relative;
}
.inPlate .plate-box .plate-right li:nth-of-type(4) {
  position: absolute;
  bottom: 0;
  left: 118px;
}
.inPlate .plate-box .plate-right li {
  float: left;
}
.inPlate .beg {
  width: 1200px;
  height: 540px;
}
.inPlate .beg .wrp {
  width: 720px;
  height: 480px;
  float: left;
}
.inPlate .beg .wrp li {
  float: left;
}
.inPlate .beg .begWrap {
  height: 480px;
}
.inPlate .beg .begWrap .aC {
  float: left;
}
.inPlate .beg .begWrap .aC .bgt a {
  font-size: 20px;
  display: block;
  width: 118px;
  float: left;
  text-align: center;
  line-height: 38px;
}
.inPlate .beg .begWrap .logo {
  width: 240px;
  height: 183px;
  float: left;
  background: #fff;
}
.inPlate .beg .begWrap .logo img {
  float: left;
}
.inPlate .beg .pB {
  width: 1200px;
  height: 540px;
}
.inPlate .beg .pB .pL {
  width: 240px;
  height: 420px;
  float: left;
}
.inPlate .beg .pB .pL .pR img {
  float: left;
}
.inPlate .beg .pB .pL .bgt1 a {
  font-size: 20px;
  display: block;
  float: left;
  width: 118px;
  text-align: center;
  line-height: 38px;
}
.inPlate .beg .pB .pLate img {
  float: left;
}
.inPlate .beg .bg {
  width: 1200px;
  height: 540px;
}
.inPlate .beg .bg .bgR img {
  float: left;
}
.inPlate .beg .bg .bgL {
  width: 240px;
  height: 480px;
  float: left;
}
.inPlate .beg .bg .bgL .pR img {
  float: left;
}
.inPlate .beg .bg .bgL .bgt2 a {
  font-size: 20px;
  display: block;
  float: left;
  width: 118px;
  text-align: center;
  line-height: 38px;
}
.inPlate .beg .qW {
  width: 1200px;
  height: 540px;
}
.inPlate .beg .qW .qL {
  width: 240px;
  height: 480px;
  float: left;
}
.inPlate .beg .qW .qL .bgt3 a {
  font-size: 20px;
  display: block;
  float: left;
  width: 118px;
  text-align: center;
  line-height: 38px;
}
.inPlate .beg .qW .qL .pR img {
  float: left;
}
.inPlate .beg .qW .qR img {
  float: left;
}

/*# sourceMappingURL=index.css.map */
