.top {
  width: 980px;
  height: 100px;
  margin: 0 auto;
}
.top img {
  width: 266px;
  height: 73px;
}

.content {
  width: 980px;
  height: 366px;
  margin: 0 auto;
}
.content .res {
  width: 980px;
  height: 26px;
  border-bottom: 2px solid #6e6e6e;
}
.content .res a {
  display: block;
  width: 160px;
  height: 26px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 26px;
  background: #6e6e6e;
  border-radius: 5px;
}
.content .contL {
  width: 758px;
  height: 326px;
  float: left;
  padding-top: 20px;
  padding-left: 15px;
  box-sizing: border-box;
  margin: 20px;
  padding-bottom: 30px;
  border: 1px solid #ccc;
}
.content .contL .It {
  width: 700px;
  height: 44px;
}
.content .contL .It .ItLeft {
  width: 700px;
  height: 60px;
  box-sizing: border-box;
  padding-top: 16px;
  margin-left: 48px;
}
.content .contL .It .ItLeft span {
  line-height: 30px;
}
.content .contL .It .ItLeft h2 {
  float: left;
}
.content .contL .It .ItLeft h2 em {
  float: left;
  line-height: 30px;
  padding-right: 10px;
}
.content .contL .It .ItLeft h2 p {
  width: 120px;
  height: 30px;
  float: left;
}
.content .contL .It .ItLeft h2 p input {
  width: 107px;
  height: 30px;
  border: 0;
  border: 1px solid #ccc;
}
.content .contL .It .qL2 {
  width: 108px;
  height: 34px;
  margin: 12px 0 0 116px;
  background: url(../images/reg/buttons.png) no-repeat -225px -85px;
  border: 0;
  cursor: pointer;
}
.content .contL span {
  padding-left: 10px;
}
.content .contL .title {
  width: 700px;
  height: 31px;
  line-height: 30px;
}
.content .contL .item {
  width: 700px;
  height: 66px;
  box-sizing: border-box;
  padding-top: 16px;
}
.content .contL .item .fll input {
  float: left;
}
.content .contL .item h2 {
  width: 120px;
  height: 30px;
  float: left;
  line-height: 30px;
  text-align: right;
}
.content .contL .item input {
  width: 247px;
  height: 30px;
  border: 0;
  border: 1px solid #ccc;
}
.content .contL .item .tips {
  display: block;
  width: 305px;
  height: 38px;
  float: left;
  font-size: 12px;
}
.content .contL .ite {
  width: 700px;
  height: 60px;
  box-sizing: border-box;
  padding-top: 16px;
}
.content .contL .ite .ltext {
  font-size: 14px;
  text-align: right;
  line-height: 30px;
}
.content .contL .ite .Lfll {
  float: left;
}
.content .contL .ite .Lfll #mobileNumber {
  width: 247px;
  height: 30px;
  border: 0;
  border: 1px solid #ccc;
}
.content .contL .ite .ltext {
  width: 120px;
  height: 30px;
}
.content .contL .it {
  width: 700px;
  height: 60px;
  box-sizing: border-box;
  padding-top: 16px;
}
.content .contL .it #code {
  font-family: Arial;
  font-style: italic;
  font-weight: bold;
  border: 0;
  letter-spacing: 2px;
  color: blue;
}
.content .contL .it .Lfll {
  float: left;
}
.content .contL .it .Lfll .errorinfo {
  float: left;
}
.content .contL .it .Lfll input {
  width: 120px;
  height: 28px;
  border: 0;
  border: 1px solid #ccc;
}
.content .contL .it .Lfll input h2 {
  text-align: right;
  line-height: 30px;
}
.content .contL .it .Lfll #mySpan2 {
  float: left;
}
.content .contL .it .Lfll #mySpan2 a {
  display: block;
  width: 46px;
  height: 30px;
  font-size: 15px;
  float: left;
}
.content .contL .it .Lfll #mySpan2 .change_img {
  padding-left: 10px;
  width: 110px;
  height: 30px;
}
.content .contL .it .iL {
  width: 120px;
  height: 30p;
  line-height: 30px;
}
.content .contL .it .iL h2 {
  text-align: right;
}
.content img {
  float: left;
  width: 182px;
  height: 366px;
}

#pp {
  width: 980px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 0 auto;
}

/*# sourceMappingURL=register.css.map */
