@charset "utf-8";

.hX{
    border-top:2px solid #f00;
    position:relative;
    a{
         left:2px;
                  top:2px;
                  background:red;
    }
                 
}


.content {
  width: 1200px;
  height: 531px;
  margin: 0 auto;
  .conL{
    width:236px;
    height:531px;
    float: left;
    position: relative;
    .tc{
        width: 722px;
        height:530px;
        background:#fff;
        position: absolute;
        left:235px;
        bottom: 0;
        z-index:10;
        border:1px solid #ccc;
        display: none;
        .Left{
            width:182px;
            height:530px;
            float: left;
            dl{
                height:150px;
                dt{
                    height:19px;
                    color:#222;
                    font-size:15px;
                    font-weight:900;
                    padding:10px 0; 
                }
                dd{
                    width:211px;
                    height:100px;
                    a{
                        display: block;
                        font-size:14px;
                        float: left;
                        width:72px!important;
                        line-height:19px !important; 
                        padding-right:10px !important;
                    }
                }
            }
        }
        .Lp{
            width:540px;
            height:360px;
            background:#222222;
            float: left;
        }
        .Right{
            float:left;
            width:540px;
            height:170px;
            background: #fff;
            p{
                font-size:14px;
                color:#222;
                font-weight:900;
                margin-top:5px;
            }
            a{
                float:left;
               margin:19px 12px;
            }
        }
    }
    ul{
            border: 1px solid #d51819
    }
        .LL{
             height:51px;
        }
        .F{
            margin-top:10px;
        }
    dl{
        width: 224px;
        height:73px;
        padding-left:10px;
        dt{
            width:224px;
            height:19px;
            font-size:14px;
            color:#222;
            font-weight:900;
           height:19px;
        }
        dd{
            float: left;
            a{
                padding-right: 3px;
                color: #696969;
            }
        }
    }
  }
  .conC{
      width:718px;
      height:531px;
      float: left;
      .conT{
          width:718px;
          height:475px;
          position: relative;
          ul{
              li{
                  position: absolute;
                  left: 5px;
                  bottom: -2px;
                  img{
                      width:718px;
                      height:475px;
                  }
              }
          }
      }
      .conB{
          width:722px;
          height:50px;
          text-align: center;
          border:1px solid #ccc;
          position: relative;
          top:3px;
          ul{
              .first{
                  background-position:130px ;
              }
              li{
                  width:144px;
                  height:50px;
                  line-height:50px;
                  float:left;        
                  font-size: 14px;
                  position: relative;
                  letter-spacing: 2px;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  box-sizing: border-box;
                   background:url(../images/icons.png) no-repeat 97px -2266px;
                  a{
                  padding-right:10px;
                  
                  }        
              }
          }
      }
  }
  .zt{
      img:last-child{
          padding-top:10px;
      }
      img{
          padding-left:10px;
      }
  }
}


/*-----------小轮播--------------*/

#hot{
    width:1200px;
    height:132px;
    margin: 0 auto;
    background: #0086B3;
    position: relative;
     overflow: hidden;
    .xL{
         width:3000px;
         height:132px;
         margin: 0 auto;
         background: #0086B3;
         position: absolute;
         left: 0;
         top:0;
        li{
            float: left;
            img{
                padding-top:5px;
                margin-right:5px;
            }
        }
    }
}


